@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
body{
     width: 100vw;
     overflow-x: hidden!important;
     font-family: monospace;
     background-color: #454d4a3b;
}
img{
     width: 100%;
     height: 100%;
     object-fit: contain;
}
a{
     text-decoration: none;
     color: black;
}
i{
     color: #454D4A;
}

/* Initially hide the content with the 'hidden' class */
.hidden {
     display: none;
   }
   #loading {
     position: absolute;
     left: 45%;
     bottom: 45%;
   }
   
   /* Loader 4 */
   .boxes {
     --size: 32px;
     --duration: 800ms;
     height: calc(var(--size) * 2);
     width: calc(var(--size) * 3);
     position: relative;
     transform-style: preserve-3d;
     transform-origin: 50% 50%;
     margin-top: calc(var(--size) * 1.5 * -1);
     transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
   }
   
   .boxes .box {
     width: var(--size);
     height: var(--size);
     top: 0;
     left: 0;
     position: absolute;
     transform-style: preserve-3d;
   }
   
   .boxes .box:nth-child(1) {
     transform: translate(100%, 0);
     -webkit-animation: box1 var(--duration) linear infinite;
     animation: box1 var(--duration) linear infinite;
   }
   
   .boxes .box:nth-child(2) {
     transform: translate(0, 100%);
     -webkit-animation: box2 var(--duration) linear infinite;
     animation: box2 var(--duration) linear infinite;
   }
   
   .boxes .box:nth-child(3) {
     transform: translate(100%, 100%);
     -webkit-animation: box3 var(--duration) linear infinite;
     animation: box3 var(--duration) linear infinite;
   }
   
   .boxes .box:nth-child(4) {
     transform: translate(200%, 0);
     -webkit-animation: box4 var(--duration) linear infinite;
     animation: box4 var(--duration) linear infinite;
   }
   
   .boxes .box > div {
     --background: #58A0E2;
     --top: auto;
     --right: auto;
     --bottom: auto;
     --left: auto;
     --translateZ: calc(var(--size) / 2);
     --rotateY: 0deg;
     --rotateX: 0deg;
     position: absolute;
     width: 100%;
     height: 100%;
     background: var(--background);
     top: var(--top);
     right: var(--right);
     bottom: var(--bottom);
     left: var(--left);
     transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
       translateZ(var(--translateZ));
   }
   
   .boxes .box > div:nth-child(1) {
     --top: 0;
     --left: 0;
   }
   
   .boxes .box > div:nth-child(2) {
     --background: #589fe281;
     --right: 0;
     --rotateY: 90deg;
   }
   
   .boxes .box > div:nth-child(3) {
     --background: #58A0E2;
     --rotateX: -90deg;
   }
   
   .boxes .box > div:nth-child(4) {
     --background: #589fe281;
     --top: 0;
     --left: 0;
     --translateZ: calc(var(--size) * 3 * -1);
   }
   
   @-webkit-keyframes box1 {
     0%,
     50% {
       transform: translate(100%, 0);
     }
   
     100% {
       transform: translate(200%, 0);
     }
   }
   
   @keyframes box1 {
     0%,
     50% {
       transform: translate(100%, 0);
     }
   
     100% {
       transform: translate(200%, 0);
     }
   }
   
   @-webkit-keyframes box2 {
     0% {
       transform: translate(0, 100%);
     }
   
     50% {
       transform: translate(0, 0);
     }
   
     100% {
       transform: translate(100%, 0);
     }
   }
   
   @keyframes box2 {
     0% {
       transform: translate(0, 100%);
     }
   
     50% {
       transform: translate(0, 0);
     }
   
     100% {
       transform: translate(100%, 0);
     }
   }
   
   @-webkit-keyframes box3 {
     0%,
     50% {
       transform: translate(100%, 100%);
     }
   
     100% {
       transform: translate(0, 100%);
     }
   }
   
   @keyframes box3 {
     0%,
     50% {
       transform: translate(100%, 100%);
     }
   
     100% {
       transform: translate(0, 100%);
     }
   }
   
   @-webkit-keyframes box4 {
     0% {
       transform: translate(200%, 0);
     }
   
     50% {
       transform: translate(200%, 100%);
     }
   
     100% {
       transform: translate(100%, 100%);
     }
   }
   
   @keyframes box4 {
     0% {
       transform: translate(200%, 0);
     }
   
     50% {
       transform: translate(200%, 100%);
     }
   
     100% {
       transform: translate(100%, 100%);
     }
   }
.navBar{
     padding: 10px 50px 5px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
}
.icons{
     width: 30px;
     height: 30px;
     border-radius: 5px;
     background-color: #F1F0F0;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 17px;
     cursor: pointer;
}
.hero{
     padding-top: 0;
     max-height: 90vh;
     align-items: center;
}
.hero .head{
     font-size: 50px;
     font-weight: 900;
     color: #58A0E2;
     -webkit-text-stroke: 1px #B571BC;
}
.hero .details{
     font-size: 25px;
     color: #454D4A;
}
.hero a {
     position: relative;
     display: inline-block;
     cursor: pointer;
     outline: none;
     border: 0;
     vertical-align: middle;
     text-decoration: none;
     background: transparent;
     padding: 0;
     font-size: inherit;
     font-family: inherit;
}
.hero a.learn-more {
     width: 12rem;
     height: auto;
}

.hero a.learn-more .circle {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: relative;
     display: block;
     margin: 0;
     width: 3rem;
     height: 3rem;
     background: #58A0E2;
     border-radius: 1.625rem;
}

.hero a.learn-more .circle .icon {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: absolute;
     top: 0;
     bottom: 0;
     margin: auto;
     background: #fff;
}

.hero a.learn-more .circle .icon.arrow {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     left: 0.625rem;
     width: 1.125rem;
     height: 0.125rem;
     background: none;
}

.hero a.learn-more .circle .icon.arrow::before {
     position: absolute;
     content: "";
     top: -0.29rem;
     right: 0.0625rem;
     width: 0.625rem;
     height: 0.625rem;
     border-top: 0.125rem solid #fff;
     border-right: 0.125rem solid #fff;
     transform: rotate(45deg);
}

.hero a.learn-more .button-text {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     padding: 0.75rem 0;
     margin: 0 0 0 1.85rem;
     color: #000;
     font-weight: 700;
     line-height: 1.6;
     text-align: center;
     text-transform: uppercase;
}

.hero a:hover .circle {
     width: 100%;
}

.hero a:hover .circle .icon.arrow {
     background: #fff;
     transform: translate(1rem, 0);
}
.hero a:hover .button-text {
color: #fff;
}
.hero lottie-player{
     width: 100%;
     height: 80%;
}
section{
     padding: 0 50px;
     padding-top: 40px;
}
.firstSection{
     display: flex;
     flex-direction: column;
     gap: 25px;
}
.categoryWord{
     width: max-content;
     height: 40px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     background: url(images/Rectangle\ 22.png);
     background-size: cover;
     background-repeat: no-repeat;
     font-size: 20px;
     font-weight: 500px;
     color: #454D4A;
     border-radius: 5px;
}

.categories{
     display: flex;
     justify-content: center;
     align-items: center;
     justify-content: space-around;
}
.eachCategory{
     display: flex;
     align-items: center;
}
.eachCategory .text{
     border-radius: 5px;
     border: 1px solid #000;
     background-color: #F1F0F0;
     color: #000;
     width: max-content;
     padding: 5px 10px;
}
.tooltip-container {
     position: relative;
     display: inline-block;
}
.tooltip {
     position: absolute;
     bottom: 120%;
     left: 50%;
     transform: translateX(-50%);
     visibility: hidden;
     opacity: 0;
     transition: visibility 0s, opacity 0.5s ease;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
     width: 75px;
     height: 65px;
}
.tooltip-container:hover .tooltip {
     visibility: visible;
     opacity: 1;
}
.leftSec{
     height: 100%;
}
.upo{
     position: relative;
     background-color: #393B3A;
     width: 100%;
     height: 150px;
     border-radius: 10px;
}
.upo img{
     width: 100%!important;
     height: 100%!important;
     object-fit: contain!important;
}
.upo .text{
     position: absolute;
     bottom: 0;
     width: 100%;
     color: #fff;
     border-radius: 10px;
     font-size: 10px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     background: linear-gradient(to right, #000, #0000002c);
}
.dashhh{
     position: absolute;
     background-color: #03C68B;
     font-size: 12px;
     padding: 3px;
     width: max-content;
     border-radius: 3px;
     top: -5%;
     right: -5%;
}
.upoo{
     margin-top: 15px;
     background: linear-gradient(to bottom, #2D7684 80%, #2d768499);
}
.upoo text{
    background: linear-gradient(to right, #084450, #2d768429)
}
.upoo .dashhh{
     background-color: #FF7B7B;
}
.rightSec{
     border: 1px solid #000;
}
swiper-container {
     width: 100%;
     /* height: 200px!important; */
}
swiper-slide {
     text-align: center;
     font-size: 18px;
     display: flex;
     justify-content: center;
     align-items: center;
}
swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.letsGet{
     text-align: left;
}
.head{
     color: #312965;
     -webkit-text-stroke: 1px #B571BC;
     font-size: 45px;
     font-weight: 500;
}
.details{
     color: #454D4A;
     font-size: 15px;
}
.oction{
     color: #454D4A;
     font-size: 20px;
}
.sectionHead{
     display: flex;
     justify-content: space-between;
}
.viewAll{
     background: url(images/Frame\ 46.png);
}
.cta {
     display: flex;
     padding: 8px 15px;
     text-decoration: none;
     font-family: 'Poppins', sans-serif;
     font-size: 20px;
     color: white;
     background: #312965;
     transition: 1s;
     box-shadow: 6px 6px 0 black;
     transform: skewX(-15deg);
     border: none;
   }
   
   .cta:focus {
     outline: none;
   }
   
   .cta:hover {
     transition: 0.5s;
     box-shadow: 10px 10px 0 #31296579;
   }
   
   .cta .second {
     transition: 0.5s;
     margin-right: 0px;
   }
   
   .cta:hover  .second {
     transition: 0.5s;
     margin-right: 45px;
   }
   
   .span {
     transform: skewX(15deg)
   }
   
   .second {
     width: 20px;
     margin-left: 30px;
     position: relative;
     top: 12%;
   }
   
   .one {
     transition: 0.4s;
     transform: translateX(-60%);
   }
   
   .two {
     transition: 0.5s;
     transform: translateX(-30%);
   }
   
   .cta:hover .three {
     animation: color_anim 1s infinite 0.2s;
   }
   
   .cta:hover .one {
     transform: translateX(0%);
     animation: color_anim 1s infinite 0.6s;
   }
   
   .cta:hover .two {
     transform: translateX(0%);
     animation: color_anim 1s infinite 0.4s;
   }
   
   @keyframes color_anim {
     0% {
       fill: white;
     }
   
     50% {
       fill: #000;
     }
   
     100% {
       fill: white;
     }
   }
   .cardss{
     display: flex;
     justify-content: space-between;
     gap: 20px;
     margin-top: 30px;
     max-height: 315px;
}
.oone{
     width: 300px;
     height: 315px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #F3F3F3;
     border-radius: 6px;
     border: 0.5px solid black
}
.top{
     margin-top: 30px;
     width: 255px;
     height: 275px;
     border-radius: 13px;
     background: linear-gradient(179deg, #FFF4BB 2.55%, rgba(255, 242, 174, 0.00) 96.05%);
}
.contiueshpping{
     color: #424242;
     font-size: 14px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     font-variant: all-small-caps;
}
.top img{
     width: 205px;
     height: 170px;
}
.contiueName{
     color: #454D4A;
     font-size: 10px;
     font-style: normal;
     font-weight: 300;
     line-height: normal;
     font-variant: all-small-caps;
}
.contnuePrices{
     display: flex;
     justify-content: right;
     gap: 15px;
     align-items: center;
}
.contnueNew{
     color: #000;
     font-size: 16px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     font-variant: all-small-caps;
}
.contnueOld{
     color: #454D4A;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     font-variant: all-small-caps;
     text-decoration-line: strikethrough;
}
.twoo{
     width: 300px;
     height: 315px;
     text-align: center;
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: #F3F3F3;
     border-radius: 6px;
     border: 0.5px solid black;
     flex-direction: column;
     gap: 10;
     padding: 25px 55px;
}
.twoo .imma{
     width: 190px;
     height: 135px;
}
.twoo .contiueName{
     color: #454D4A;
     font-size: 10px;
     font-style: normal;
     font-weight: 300;
     line-height: normal;
     font-variant: all-small-caps;
}
.otherPictures{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 12px;
}
.eachImags{
     width: 60px;
     height: 50px;
     border-radius: 7px;
     border: 0.5px solid #000;
     background: #E8E8E8;
     display: flex;
     justify-content: center;
     align-items: center;
}
.eachImags img{
     object-fit: contain!important;
}
/* Our Top Deals */
.dealss{
     padding-left: 0;
}
   .bg- {
     width: 100vw;
     background-color: #58A0E2;
   }
   .deals {
     padding: 10px 50px;
     display: flex;
     justify-content: space-between;
     place-items: center;
   }
   .topp {
     font-weight: 700;
     color: #000;
     font-size: 20px;
   }
   .btt {
     color: #000;
     font-size: 15px;
     font-weight: 700;
   }
   .card {
     border: none;
     background-color: #fff;
     padding: 10px;
     display: flex;
     justify-content: space-between;
   }
   .percent {
     padding: 5px;
   }
   .love {
     border-radius: 50%;
     padding: 5px;
   }
   .card-title {
     justify-content: space-between;
     place-items: center;
     align-items: center;
   }
   .card img {
     width: 100%;
     height: 200px;
     object-fit: contain;
   }
   .coll {
     flex-direction: column;
   }
   .original {
     color: #58A0E2;
   }
   .btn-primary {
     /* border: none!important; */
     background-color: #58A0E2;
   }
   .btn-primary:hover {
     color: #58A0E2;
     background-color: #F3F3F3;
     border: #58A0E2 1px solid;
   }
   .btn-pri {
     color: #58A0E2;
     background-color: #F3F3F3;
   }
   .CartBtn {
     height: 40px;
     border-radius: 12px;
     border: none;
     background-color: #58A0E2;
     cursor: pointer;
     transition-duration: 0.5s;
     overflow: hidden;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #F3F3F3;
   }
   
   .IconContainer {
     position: absolute;
     left: -50px;
     width: 30px;
     height: 30px;
     background-color: transparent;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     z-index: 2;
     transition-duration: 0.5s;
     color: #F3F3F3;
   }
   .icon {
     border-radius: 1px;
   }
   
   .text {
     height: 100%;
     width: fit-content;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #F3F3F3;
     z-index: 1;
     transition-duration: 0.5s;
     font-size: 1.04em;
     font-weight: 600;
   }
   
   .CartBtn:hover .IconContainer {
     transform: translateX(100px);
     border-radius: 40px;
     transition-duration: 0.5s;
   }
   
   .CartBtn:hover .text {
     transform: translate(10px, 0px);
     transition-duration: 0.5s;
   }
   
   .CartBtn:active {
     transform: scale(0.95);
     transition-duration: 0.5s;
   }
   .twoBigCards{
     width: 100vw!important;
     padding: 0!important;
}
.bigOne{
     border-radius: 4px;
     border: 0.798px solid #27282A;
     background: linear-gradient(to bottom right, #08090B 7%, #0B0C0E 41%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #08090B 7%, #0B0C0E 41%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #08090B 7%, #0B0C0E 41%) top left / 50% 50% no-repeat, linear-gradient(to top right, #08090B 7%, #0B0C0E 41%) top right / 50% 50% no-repeat;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.main{
     padding-left: 10px;
     display: flex;
     flex-direction: column;
     align-items: left;
}
.bigOne .mainName{
     color: #F5F5F5;
     font-size: 32px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     font-variant: all-small-caps;
}
.bigOne .mainstry{
     color: #D9D9D9;
     font-size: 15px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     font-variant: all-small-caps;
}
.bigOne .mainPrices{
     display: flex;
     gap: 15px;
     align-items: center;
     color: #D9D9D9;
     font-size: 19px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     font-variant: all-small-caps;
}
.twoBigCards .row>*{
     /* padding-left: 0!important; */
     padding-right: 0!important;
}
.bigOne .mainPrices span{
     color: #03C68B;
     font-weight: 900;
     font-variant: normal;
}
.bigOne .mainShop{
     border-radius: 4px;
     background: #03C68B;
     padding: 4px 5px;
     width: max-content;
     color: #FFF;
     text-align: center;
     font-size: 10px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     font-variant: all-small-caps;
}
.bigTwo{
     border-radius: 4px;
     background: #58A0E2;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
}
.mini{
     padding: 10px;
     display: flex;
     flex-direction: column;
     align-items: left;
     margin-right: auto;
     margin-left: 50px;
}
.miniName{
     color: #FEFFFF;
     font-size: 48px;
     font-style: normal;
     font-weight: 300;
     line-height: normal;
     font-variant: all-small-caps;
}
.miniName span{
     font-weight: 600;
}
.miniStory{
     color: #FFF;
     font-size: 15px;
     font-style: normal;
     font-weight: 300;
     line-height: normal;
     font-variant: all-small-caps;
     display: flex;
     flex-direction: column;
}
.miniStory .bold{
     font-weight: 700;
}
.miniImg{
     width: 310px;
     height: 380px;
     transform: rotate(0.151deg);
     position: absolute;
     right: 0;
     bottom: 0;
}
footer{
     margin-top: 10px;
     padding: 50px 0 20px;
     background: #F1F0F0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.otherPages{
     display: flex;
     flex-direction: row;
     gap: 100px;
}
.otherPage{
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.otherPageHead{
     color: #393B3A;
     font-size: 14px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
}
.otherPageLinks{
     display: flex;
     flex-direction: column;
     gap: 3px;
}
.otherPageLinks a{
     color: #393B3A;
     font-size: 12px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
}
hr{
     width: 100%;
     border: 0.5px solid #393B3A;
}
.footer{
     display: flex;
     /* flex-direction: row; */
     justify-content: space-between;
     width: 100%;
     padding: 0px 30px;
}
.sideLeft, .sideRight{
     width: 20%;
}
.mailUs{
     color: #000;
     font-size: 12px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
}
.email{
     color: #000;
     font-size: 10px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
}
.cards{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px){
     .col-12{
          width: 100%;
     }
     .bigTwo{
          height: 305px;
     }
     .cardss {
          justify-content: center;
          margin-bottom: 30px;
          max-height: max-content;
          flex-wrap: wrap;
     }
     .categories {
          flex-wrap: wrap;
          gap: 20px;
          margin: 20px 0;
     }
     swiper-slide {
          display: block;
     }
     .otherPages {
          display: flex;
          flex-direction: row;
          gap: 10px;
          flex-wrap: wrap;
          justify-content: center;
     }
     .hero .col-lg-6{
          text-align: center;
     }
     .cards{
          grid-template-columns: repeat(2, 1fr);
     }
}
@media screen and (max-width: 458px){
     .cards{
          grid-template-columns: repeat(1, 1fr);
     }
     .secondSection{
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          gap: 20px;
     }
     .rightSec, .leftSec {
          width: 90vw;
     }
}